html
  head
    title OpenShift Pipeline
    link(rel="stylesheet" href="/static/stylesheets/bootstrap-4.0.0-beta.2.min.css")
  body
    main.container(role="main")
      div.row
        div.col #
        div.col
            h1 test
        div.col
            h1 qa
        div.col
            h1 pilot
        div.col
            h1 prod
      div.row
        div.col ab1c23 Endre farge på knapp (DIG-123)
        div.col deploy
        div.col deploy
        div.col deploy
        div.col deploy
